<h2> Bem-vindo ao meu site de explicações.</h2>
<br>

<p>Comecei este projecto no início do ano lectivo 2025/2026 para aplicar os conhecimentos em Amazon Web Services.</p>
<br>

<p>A ideia inicial seria criar uma aplicação web para poder dar explicações ao domicílio no concelho de Lisboa.</p>
<br>

<p>Dado que a matemática é uma disciplina assente sempre em matéria anterior, um aluno nunca irá perceber corretamente a matéria corrente se não tiver uma boa base anterior: como queres perceber uma multiplicação se não sabes somar? Assim nessa aplicação, teria também a ideia de criar problemas para que os estudantes pudessem praticar não só a matéria do ano em que estão mas também aquela que ficou para trás.</p>
<br>
<p>Comecei a preparar alguns exercícios mas com a ajuda do Victor Nunes do matematica.pt, tive acesso a centenas de exercícios de cada ano a partir do 5º ano. Seleciona o questionário do menu à esquerda e podes começar a testar os teus conhecimentos. Estão neste momento apenas disponíveis exercícios do 5º ao 7º ano, mas mais estão já a caminho.</p>
<br>
<p>Todos os exercícios são de escolha simples ou escolha múltipla. Alguns estão resolvidos no site matematica.pt pelo Victor.</p>