<h1>Localização</h1>
<a 
  href="https://www.google.com/maps/dir/?api=1&origin=38.764111,-9.119027&destination={{gg_address}}&travelmode=transit"
  target="_blank"
  rel="noopener noreferrer"
  style="display: inline-block; margin-top: 10px; padding: 10px 20px; background-color: #4285f4; color: white; text-decoration: none; border-radius: 4px; font-family: Arial, sans-serif;">
  Transportes para a minha casa
</a>

<iframe
  src="https://maps.google.com/maps?q=38.764111,-9.119027&hl=en&z=16&output=embed"
  width="800"
  height="600"
  style="border:0;"
  allowfullscreen=""
  loading="lazy"
  referrerpolicy="no-referrer-when-downgrade">
</iframe>


<h2>Zonas de Ensino</h2>
<img src="/static/images/ZonasEnsino.png" alt="Zonas de Ensino" width="800" height="600">

