<li><a href="{{ url_for('home.view_func_home') }}">Home</a></li>
<li><a href="{{ url_for('getting_started.view_func_getting_started') }}">Getting Started</a></li>
<li><a href="{{ url_for('rules.view_func_rules') }}">Rules</a></li>
<li><a href="{{ url_for('commands.view_func_available_commands') }}">Server Guide</a></li>
<li><a href="{{ url_for('tiers.view_func_tiers') }}">Ranks</a></li>
<li><a href="{{ url_for('support.view_func_support') }}">Support</a></li>
{% if not user %}
<li><a href="{{ url_for('signin.signin') }}">Sign In</a></li>
{% endif %}
