<h1>Termos do serviço</h1>
<h2>Questionário:</h2>
<p>1. O questionário é de utilização livre para todos e terá sempre o resultado no final.</p>
<p>2. Para ter acesso à correção terá que estar registrado no site a partir de 2 de dezembro de 2025.</p>
<p>3. O registro não tem qualquer custo mas pode sempre pagar-me um café.</p>
<br>
<h2>Explicações:</h2>
<p>1. As explicações serão dadas em casa do explicando ou em lugar a combinar.</p>
<p>2. O explicando necessita de ter acesso a material de trabalho.</p>
<p>3. Apenas serão dadas explicações no concelho de Lisboa a menos de uma hora de distância a pé ou transportes públicos dos Olivais Sul.</p>
<p>4. Os preços estão estípulados na página o Preçário.</p>
<p>5. A primeira aula é gratuita em qualquer uma das zonas.</p>
<p>6. Não existe inscrição inicial mas será necessário um depósito de 20€, entregue na primeira aula que será descontada na última aula.</p>
<p>7. As aulas poderão ser canceladas por parte do explicando até 24 horas antes da mesma, sem perda de depósito.</p>
<p>8. Para cancelamentos por parte do explicando que ocorram entre 1 hora e 24 horas da explicação, serão descontados 10€ do depósito, que terá que ser reposto na próxima aula ou então será devolvido os restantes 10€ e terminará assim as explicações.</p>
<p>9. Um cancelamento a menos de uma hora da explicação por parte do explicando, o depósito será dado como perdido e terá de ser reposto se quiser outra aula.</p>
<p>10. Um cancelamento por parte do explicador a menos de 24 horas da explicação dará um desconto de 50% a utilizar na próxima aula.</p>
<p>11. O pagamento poderá ser feito através por MBway, Revolut ou em dinheiro.</p>
<p>12. Após um pagamento, será emitido um recibo do valor correspondente até 1 dias útil.</p>
<p>13. Após uma aula, será emitida a fatura até 2 dias úteis.</p>
<p>14. Se o valor for pago no fim da aula, será apenas emitida a fatura até 2 dias úteis.</p>