[Unit]
Description=Minecraft Server Auto-Suspend Monitor
After=network.target

[Service]
Type=oneshot
User=ec2-user

WorkingDirectory=/var/www/appmodules
ExecStart=/var/www/appmodules/app-env/bin/python /var/www/appmodules/simplewebapp/scripts/auto_suspend.py

[Install]
WantedBy=multi-user.target

